<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="exit()">退出</a-button>
      </template>

    </a-page-header>

    <div class="page">
      <survey :survey="model"></survey>
    </div>
  </div>
</template>

<script>
import * as SurveyVue from "survey-vue";
import "survey-vue/defaultV2.css";
import axios from "axios"

import moment from "moment"
SurveyVue.StylesManager.applyTheme("defaultV2");
const Survey = SurveyVue.Survey;
SurveyVue.Serializer.addProperty("question", "tag:number");
const baseUrl = `${process.env.VUE_APP_BASEURL}`
const ipUrl = 'https://api.ipify.org?format=json'


//TODO:测试;隐藏提交按钮 
export default {
  components: {
    Survey
  },
  data() {
    return {
      subTitleText: "回答问卷",
      current: [""],
      surveyJson: "{}",
      answerStartTime: "",
      ip: "",
      format: "YYYY-MM-DD HH:mm:ss"
    };
  },
  methods: {
    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const surveyId = this.$route.query.surveyId
      const params = {surveyId}
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            if(res.data.surveyData.
            surveyStatus == 0){
              this.$message.warn("问卷未打开,不能回答")
              return
            }
            const startTime = moment(res.data.surveyData.startTime)
            const endTime = moment(res.data.surveyData.endTime)
            console.log(moment().isBefore(startTime), moment().isAfter(endTime))
            if(moment().isBefore(startTime)||moment().isAfter(endTime)){
              this.$message.warn("问卷不在时间段内,不能回答")
              return
            }
            this.surveyJson = res.data.surveyData.surveyContent
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },


    postResult(sender, options) {
      const url = baseUrl + "/answerSurvey"
      const surveyId = this.$route.query.surveyId
      const payload = {
        surveyId,
        token:this.token,
        answer: JSON.stringify(sender.data),
        answerStartTime: this.answerStartTime,
        answerEndTime: moment().format(this.format),
        ipAddress: this.ip
      }
      options.showDataSaving();//you may pass a text parameter to show your own text
      axios.post(url, payload)
        .then((res) => {
          if (res.data.code == 801) {
            options.showDataSavingSuccess();
          } else {
            options.showDataSavingError();
          }
        })
        .catch((e) => {
          this.$message.warn("出错了")
          console.warn(e)
        })
    },
    getIp() {
      axios.get(ipUrl)
        .then((res) => {
          this.ip = res.data.ip
        })
        .catch((e) => {
          console.warn(e)
        })
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },
  computed: {
    model: function () {
      let model = new SurveyVue.Model(this.surveyJson);
      model.onComplete.add(this.postResult)
      return model;
    }
  },
  mounted: function () {
    this.getSurveyContent()
    this.answerStartTime = moment().format(this.format)
    this.getIp()
    this.token = this.$route.query.token;
  }
};

</script>

<style>
</style>
