<template>
  <div style="height:80%;width:100%">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input :disabled="isOpen" v-model="surveyInfo.surveyName" type="text" placeholder="问卷名"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-range-picker :disabled="isOpen" v-model="surveyInfo.linkTime" :show-time="{ format: 'HH:mm:ss' }" :format="format"
                :placeholder="['开始时间', '结束时间']" />
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-select v-model="surveyInfo.surveyStatus" placeholder="问卷状态">
                <a-select-option value="0">关闭</a-select-option>
                <a-select-option value="1">开启</a-select-option>
              </a-select>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="updateSurvey()" block>提交</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment'
const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "设置问卷",
      current: [""],
      surveyInfo: {
        surveyName: "",
        linkTime: [],
        surveyStatus: ""
      },
      projectId: "",
      surveyId: "",
      format: "YYYY-MM-DD HH:mm:ss",
      isOpen:false
    }
  },
  methods: {
    updateSurvey() {
      const url = baseUrl + "/modifySurvey"
      const payload = {
        surveyId: this.surveyId,
        surveyName: this.surveyInfo.surveyName,

        projectId: this.projectId,
        startTime: this.surveyInfo.linkTime[0].format(this.format),
        endTime: this.surveyInfo.linkTime[1].format(this.format),
        surveyStatus: Number(this.surveyInfo.surveyStatus)
      }

      for (let prop in payload) {
        if(prop == "surveyStatus"){
          continue
        }
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!"+prop)
          console.log(payload)
          return
        }
      }

      axios.put(url, payload)
        .then((res) => {
          if (res.data.code == "801") {
            this.$message.info("设置成功")
            setTimeout(() =>{
              this.$router.push({ path: "/surveyProjectTable", query: {projectId:this.projectId } })
            },1000)
          } else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          this.$message.error("出错了");
          console.warn(e)
        })

    },
    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const params = {
        surveyId: this.surveyId,
        projectId: this.projectId
      }
      axios
        .get(url, {
          params
        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == "801") {
            this.surveyInfo.surveyName = res.data.surveyData.surveyName
            this.surveyInfo.linkTime[0] = moment(res.data.surveyData.startTime)
            this.surveyInfo.linkTime[1] = moment(res.data.surveyData.endTime)
            if(res.data.surveyData.surveyStatus == 1){
              this.$message.info("问卷处在开启状态, 只能关闭后再设置其他")
              this.isOpen = true
            }
           // this.surveyInfo.surveyStatus = res.data.surveyData.surveyStatus
            console.log(this.surveyInfo)
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }

  },

  mounted: function () {
    this.projectId = this.$route.query.projectId;
    this.surveyId = this.$route.query.surveyId;
    this.getSurveyContent();
    this.surveyInfo.linkTime[0] = moment();
    this.surveyInfo.linkTime[1] = moment().add(1, "days");
  }


}
</script>