<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>

    <div class="page">
      <div class="btnArea">
        <template>
          <a-button @click="() => this.$router.back()" type="primary">返回</a-button>
        </template>
      </div>

      <a-table :dataSource="surveyList" :columns="surveyColumns" :rowKey='record => record.id'>

        <template slot="operation" slot-scope="text, record">
          <a-button @click="handleLink(record.id)">关联</a-button>
          <a-button @click="previewSurvey(record.id)">预览</a-button>
        </template>

        <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
          style="padding: 8px">
          <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`"
            :value="selectedKeys[0]" style="width: 188px; margin-bottom: 8px; display: block;"
            @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
            @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
          <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
            @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
            Search
          </a-button>
          <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
            Reset
          </a-button>
        </div>
        <a-icon slot="filterIcon" slot-scope="filtered" type="search"
          :style="{ color: filtered ? '#108ee9' : undefined }" />
        <template slot="customRender" slot-scope="text, record, index, column">
          <span v-if="searchText && searchedColumn === column.dataIndex">
            <template v-for="(fragment, i) in text
            .toString()
            .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
              <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i" class="highlight">{{ fragment
              }}</mark>
              <template v-else>{{ fragment }}</template>
            </template>
          </span>
          <template v-else>
            {{ text }}
          </template>
        </template>

      </a-table>

      <a-modal :visible="formModalVisible" title="关联信息" @ok="linkSurvey" @cancel="handleCancel" okText="确认"
        cancelText="取消">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-range-picker v-model="linkTime" :show-time="{ format: 'HH:mm:ss' }" :format="format"
                :placeholder="['开始时间', '结束时间']" />
            </a-col>
          </a-row>
        </div>
      </a-modal>

    </div>
  </div>
</template>
<script>

import router from "@/router"
import axios from "axios"
//import moment from "moment"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  data() {
    return {

      current: [""],
      subTitleText: "关联问卷",
      surveyList: [],
      surveyColumns: [],
      projectId: "",
      selSurveyId: "",
      linkTime: [],
      format: "YYYY-MM-DD HH:mm:ss",
      formModalVisible: false,

      searchText: '',
      searchInput: null,
      searchedColumn: '',

    }
  },


  //method************************************************
  methods: {
    getSurveyList() {
      const url = baseUrl + "/querySurveyList"
      let params = {}

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.surveyList = res.data.surveyList
            console.log(this.surveyList)
          }
          else {
            console.log(res.data)
            this.$message.warn(res.data.message)
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.error("query error")
        })
      console.log(this.$router)
    },




    previewSurvey(surveyId) {
      this.$router.push({ path: "/surveyPreview", query: { surveyId } })
    },

    handleLink(surveyId) {
      this.selSurveyId = surveyId;
      this.formModalVisible = true;
    },
    handleCancel() {
      this.formModalVisible = false;
    },
    linkSurvey() {

      const surveyId = this.selSurveyId;
      const url = baseUrl + "/linkSurvey";
      const payload = {
        surveyId,
        projectId: this.projectId,
        startTime: this.linkTime[0].format(this.format),
        endTime: this.linkTime[1].format(this.format)
      }
      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }


      axios.post(url, payload)
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("关联成功")
            setTimeout(() => {
              router.push({ path: "/surveyProjectTable", query: { projectId: this.projectId } })
            }, 1000)
          }
          else {
            this.$message.warn("关联失败")
          }
        })
        .catch((e) => {
          this.$message.error("出错了")
          console.warn(e)
        })

    },

    logout() {

    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    },

    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = '';
    },



  },
  //hook***************************************
  mounted: function () {
    this.projectId = this.$route.query.projectId;
    this.getSurveyList();
    this.surveyColumns = [
      {
        title: "问卷id",
        dataIndex: "id",
        width: "20%",
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.id
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },

      {
        title: "问卷名",
        dataIndex: "surveyName",
        width: "45%",
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.surveyName
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "操作",
        dataIndex: "operation",
        width: "35%",
        scopedSlots: { customRender: 'operation' },
      }

    ]
    // this.linkTime[0] = moment();
    // this.linkTime[1] = moment().add(1, "days");
  },
  //other
  watch: {

  }
}

</script>