<template>
  <div class="fullBlcok">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="page">
      <div class="container">
      <div id="summaryContainer"></div>
      </div>
    </div>
  </div>
</template>

<script>
import * as SurveyVue from "survey-vue";
import * as SurveyAnalytics from "survey-analytics";

import "survey-analytics/survey.analytics.css";
import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`
/* eslint-disable vue/no-unused-components */
export default {
  components: {
    SurveyVue,
  },

  data() {
    return {
      subTitleText: "",
      current: [""],
      surveyJson: "{}",
      answerJson: "{}",
      model: null
    };
  },
  methods: {
    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const surveyId = this.$route.query.surveyId
      axios
        .get(url, {
          id: surveyId
        })
        .then((res) => {
          if (res.data.code == 801) {
            this.surveyJson = res.data.surveyData.surveyContent
            this.model = new SurveyVue.Model(JSON.parse(this.surveyJson))

          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    getSurveyAnswer() {
      const url = baseUrl + "/querySurveyResult"
       const surveyId = this.$route.query.surveyId
      const params = {surveyId}
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {

            this.answerJson = JSON.parse(res.data.surveyResult)
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    renderAna() {
      if (this.answerJson != "" || !this.surveyJson != "") {
        var surveyAnalyticsDataTables = new SurveyAnalytics.VisualizationPanel(
          this.model.getAllQuestions(),
          this.answerJson
        );
        surveyAnalyticsDataTables.render(
          document.getElementById("summaryContainer")
        );
      }
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },
  mounted() {
    this.getSurveyContent()
    this.getSurveyAnswer()
  },
  watch: {
    answerJson: function () {
      this.renderAna()
    },
    surveyJson: function () {
      this.renderAna()
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
