<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input v-model="projectInfo.projectName" placeholder="项目名"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-textarea v-model="projectInfo.projectDescription" placeholder="项目描述"></a-textarea>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="handleClick()" block>提交</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "创建项目",
      current: [""],
      projectInfo: {
        projectName: "",
        projectDescription: ""
      }
    }
  },

  methods: {
    logout() {

    },
    createProject() {
      const url = baseUrl + "/addProject"
      const payload = {
        projectName: this.projectInfo.projectName,
        createdBy: this.$store.state.userInfo.id,
        projectDescription: this.projectInfo.projectDescription,
        projectStatus:"closed"
      }

      
      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("添加成功")
            setTimeout(() =>{
              this.$router.back()
            },1000)
          } else {
            this.$message.warn("添加失败")
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    handleClick() {
      if (this.$route.query.id) {
        this.modifyProject()
      }
      else {
        this.createProject()
      }
    },
    modifyProject() {
      const url = baseUrl + "/modifyProject"
      const payload = {
        id: this.$route.query.id,
        projectName: this.projectInfo.projectName,
        createdBy: this.$store.state.userInfo.id,
        projectDescription: this.projectInfo.projectDescription
      }
      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.put(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("修改成功")
          } else {
            this.$message.warn(res.data.message)
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },

  mounted: function () {
    if(this.$route.query.projectName){
      this.subTitleText = "修改项目"
    }
    this.projectInfo.projectName = this.$route.query.projectName
    this.projectInfo.projectDescription = this.$route.query.projectDescription
  }


}
</script>