<template>
  <div id="surveyCreator" ></div>
</template>

<script>
import { SurveyCreator } from "survey-creator-knockout";
import { localization } from "survey-creator-core";
import "survey-creator-core/survey-creator-core.i18n";
localization.currentLocale = "zh-cn";
const creatorOptions = {
  showLogicTab: true,
  isAutoSave: true
};

const defaultJson = {
  pages: [{
    name: "Name",
    elements: [{
      name: "FirstName",
      title: "Enter your first name:",
      type: "text"
    }, {
      name: "LastName",
      title: "Enter your last name:",
      type: "text"
    }]
  }]
};

export default {
  name: "survey-creator",
  mounted() {
    const creator = new SurveyCreator(creatorOptions);
    const whiteList = [ "title", "name" ];
    creator.onShowingProperty.add(function (_, options) {
      options.canShow = whiteList.indexOf(options.property.name) > -1;
    })
    creator.text = window.localStorage.getItem("survey-json") || JSON.stringify(defaultJson);
    
    creator.saveSurveyFunc = (saveNo, callback) => { 
      window.localStorage.setItem("survey-json", creator.text);
      callback(saveNo, true);
      // saveSurveyJson(
      //     "https://your-web-service.com/",
      //     creator.JSON,
      //     saveNo,添加新问题
      //     callback
      // );
    };
    creator.render("surveyCreator");
  }
};


// Change text for the `visible` property in M

// function saveSurveyJson(url, json, saveNo, callback) {
//   const request = new XMLHttpRequest();
//   request.open('POST', url);
//   request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
//   request.addEventListener('load', () => {
//       callback(saveNo, true);
//   });
//   request.addEventListener('error', () => {
//       callback(saveNo, false);
//   });
//   request.send(JSON.stringify(json));
// }


//手动补充翻译
const translations = localization.getLocale("zh-cn");
translations.survey.duplicate = "复用";
translations.ed.logic = "逻辑"
translations.pe.surveyTitlePlaceholder = "问卷标题"
translations.ed.addNewQuestion = "添加问题"
translations.ed.survey = "问卷"
translations.ed.surveyTypeName = "问卷"
translations.ed.pageTypeName = "页"
translations.pe.tabs.logo= "问卷标题logo"
translations.pe.logo = "logo (url或者base-64编码的字符串)"
translations.pe.logoWidth = "logo宽度"
translations.pe.logoHeight = "logo高度"
translations.pe.pageTitlePlaceholder = "页标题"
translations.pe.descriptionPlaceholder = "说明"
translations.pe.surveyDescriptionPlaceholder = "说明"
translations.pe.pageDescriptionPlaceholder = "说明"
translations.pe.pages = "页"
translations.p.pages = "页"
translations.pe.tabs.pages = "页"
translations.pe.tabs.logic = "逻辑"
translations.pe.tabs.data = "数据"
translations.pe.tabs.validators = "验证"
translations.pe.tabs.validation = "验证设置"
translations.pe.tabs.showOnCompleted = "问卷完成时"
translations.pv.noPreview = "不能预览"
translations.pv.showAllQuestions = "可以预览所有问题"
translations.pv.showAnsweredQuestions = "展示已回答的问题"
translations.pe.showPreviewBeforeComplete = "在提交问题前预览回答"
translations.p.widthMode = "宽度对齐模式"
translations.pe.tabs.calculatedValues = "计算值"
translations.p.calculatedValues = "计算值"
translations.pe.editText = "编辑按钮文本"
translations.pe.previewText= "预览按钮文本"
translations.qt.image = "图片"
translations.qt.ranking = "排名"
translations.qt.signaturepad = "签名"

</script>
<style scoped>
#surveyCreator {
  height: 100vh;
  width: 100vw;
}
</style>
