
<template>
  <div class="container">
    <a-card title="高校满意度调查问卷系统" :bordered="false">
      <div class="formArea">
        <a-row>
          <a-col :span="24">
            <a-input v-model="loginInfo.account" placeholder="管理员账号" />
          </a-col>
        </a-row>

        <a-row>
          <a-col :span="24">
            <a-input-password v-model="loginInfo.password" placeholder="密码" />
          </a-col>
        </a-row>

        <a-row>
          <a-col :span="12">
            <a-button type="primary" @click="login" block>登录</a-button>
          </a-col>
        </a-row>


      </div>
    </a-card>
  </div>
</template>
   

<script>

import { message } from "ant-design-vue"
import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  name: "userLogin",
  //data
  data() {
    return {
      loginInfo: {
        account: "",
        password: ""
      },

    }
  },

  //method
  methods: {
    login(){
      const url = baseUrl + "/userLogin"
      const payload = this.loginInfo;
      for (let prop in payload) {
        if (payload[prop] === null || payload[prop] === '') {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            const userInfo = {
              id: res.data.userData.id,
              account: this.loginInfo.account,
            }
            console.log(userInfo)
            const token = res.data.userData.token
            this.$store.commit("setUserInfo", userInfo)
            this.$store.commit("setUserToken", token)
            this.$message.success("登录成功")
            console.log(this.$store.state.userToken)
            setTimeout(()=>{
              this.$router.push("/projectTable")
            },1000)
          }
          else{
            message.warn("登录失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("登录失败")
        })
    },
  }
}
</script>

<style scoped>

.ant-input {
  height: calc(5vh) !important
}
</style>